<div class="container-fluid bg-light bg-icon py-6" th:fragment="about">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="img-fluid w-100" src="img/about.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">About us</h1>
                    <p class="mb-4" Moray Aquarium dedicates to ></p>
                    <p><i class="fa fa-check text-primary me-3" href="vertebrates.html"></i> Vertebrates </p>
                    <p><i class="fa fa-check text-primary me-3" href="invertebrates.html"></i> Invertebrates </p>
                </div>
            </div>
        </div>
    </div>
</div>